@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 21%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: "Tilt Neon", sans-serif;
}